
$primary: #1976d2; // blue 700
$primary-ligth: #2196f3; // blue 500
$primary-dark: #0d47a1; // blue 900

$accent: #7cb342; // light-green 600
$accent-ligth: #9ccc65; // light-green 400
$accent-dark: #558b2f; // light-green 800

$warn: #f44336; // red 500
$praise: #8bc34a; // light-green 500

$divider: rgba(black, 0.12);
$backdrop: rgba(black, 0.3);
$primary-hover: rgba(white, 0.1);
$accent-hover: rgba(white, 0.1);

$background: #303030;
$background-dialog: #424242;

$light-text: white;
$dark-text: rgba(black, 0.87);

$primary-text: $light-text;
$accent-text: $dark-text;
$warn-text: $light-text;
$background-text: $light-text;
$background-secondary-text: rgba(white, 0.7);

$background-link-text: #16b8f8;
