@import "../../../styles/variables.scss";

:host {
    display: block;
    height: 100%;
    overflow: auto;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    margin: 1em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

.input-group {
    margin-bottom: 0.2em;
    overflow: hidden;

    label {
        display: inline-block;
        width: 4em;
        float: left;
    }

    .input-container {
        overflow: hidden;

        input {
            width: 100%;
            max-width: 10em;
        }
    }
}

.button-result-container {
    padding-top: 0.5em;
    overflow: hidden;

    .button-container {
        margin-right: 0.5em;
        float: left;
    }

    .result-group {
        overflow: hidden;
        margin-bottom: 0.2em;

        span {
            overflow-wrap: break-word;
        }
    }
}
